extends ../base

block vars
	-let pageName = 'events-page'
	-let pageTitle = 'Афиша'
	-let metaTitle = 'Афиша | Музей-заповедник Д.И. Менделеева и А.А. Блока'
	-let metaDescription = ''
block content
	main.main(class= pageName)
		section.section.page-top
			.container
				.content 
					+breadcrumps(pageTitle)
					.section-heading.section-heading--center
						h2.section-header= pageTitle
		section.section.events.offset-top
			.events__container.card-container.container 
				include ../parts/events
				.events__more 
					button.btn.btn-link.btn-showmore Показать ещё