extends ../base

block vars
	-let pageName = 'history-page'
	-let pageTitle = 'История Музея-Заповедника'
	-let metaTitle = 'История Музея-Заповедника | Музей-заповедник Д.И. Менделеева и А.А. Блока'
	-let metaDescription = ''
block content
	main.main(class= pageName)
		section.estate
			.container
				.estate__row
					.estate__col
						+breadcrumps(pageTitle)
						h1 История Музея-Заповедника
					.estate__col
						p В состав музея-заповедника входит три усадьбы: <span class="c-accent">Шахматово, Боблово и Тараканово</span>. В Шахматове жила семья Александра Александровича Блока, в Боблове — семья Менделеевых, а в Тараканове в храме Архангела Михаила эти семьи породнились — здесь в 1903 году повенчались Александр Александрович Блок и Любовь Дмитриевна Менделеева (дочь химика).
				.estate__row
					.estate__col
						h2.c-accent В 1865 году
						p Дмитрий Иванович Менделеев, 30-летний профессор Петербургского университета, <span class="c-accent">приехал в усадьбу Боблово</span> и впечатлился подмосковными видами, которые напоминали ему родной город Тобольск.
						+picture('estates/history-image-01')
					.estate__col
						blockquote 
							cite А.И. Попова «Менделеев в жизни»
							p.c-accent «Дмитрий Иванович рассказывал, что случайно в вагоне по дороге в Москву услыхал об этом имении, заинтересовался и поехал посмотреть, а взглянув, уже не мог отказаться от желания его иметь. И действительно, в Бобловской местности есть что‑то цельное, законченное, как в произведении талантливого художника; ничего не хотелось бы изменить, прибавить, убавить или переставить»
						div 
							p Не раздумывая, <span class="c-accent">Менделеев со своим другом Николаем Павловичем Ильиным купили имение:</span> создателю Периодической системы достался ветхий дом от предыдущего владельца, Ильину — два нежилых флигеля, из которых позже был построен дом, в котором сейчас расположен музей.
						+picture('estates/sign-01', false, 'svg', 'rtl')
				.estate__row
					.estate__col
						h2.c-accent Через девять лет
						p Через девять лет после покупки Боблова, в 1874 году, по совету Менделеева — Андрей Николаевич Бекетов (учёный-ботаник, коллега и близкий друг Менделеева) <span class="c-accent">приобрёл Шахматово</span> с усадебным домом и хозяйственными постройками. И в 1881 году в усадьбу привезли шестимесячного <span class="c-accent">Александра Александровича Блока</span>, который впоследствии проводил каждое лето в «уголке рая».
						+picture('estates/sign-05', false, 'svg', 'rtl')
					.estate__col
						blockquote 
							p.c-accent «Мысль о покупке Шахматова возникла у отца после получения наследства от какого‑то пензенского дядюшки (отец был пензенский дворянин). Часть денег пошла на поездку всей семьёй за границу, в Швейцарию, другую решено было употребить на покупку имения в Московской губернии». 
							cite М.А. Бекетова «Шахматово.<br>Семейная хроника»
				.estate__row
					.estate__col
						+picture('estates/history-image-02', 'Тараканово. \n Храм Михаила Архангела со звонницей - дореволюционное фото')
					.estate__col
						h2.c-accent Тараканово
						p Усадьба Тараканово известна по старинным документам с 1627 года как вотчина Н.А. Зароцкого (называлась — село Высокое). 
						p До конца 18 века <span class="c-accent">усадьбой владели Таракановы</span>, в честь которых имение и получило нынешнее название, а 17 августа 1903 года <span class="c-accent">в храме Архангела Михаила повенчались</span> Александр Александрович Блок и Любовь Дмитриевна Менделеева — дочь химика.
						+picture('estates/sign-03', false, 'svg', 'rtl')
						blockquote 	
							cite Корней Чуковский о свадьбе в Тараканове
							p.c-accent «Свадьба его (Александра Блока) была барская — не в приходской церкви, но в старинной, усадебной. По выходе молодых из церкви их, как помещиков, встретили крестьяне, поднёсшие им по‑старинному белых гусей и хлеб-соль»
				.estate__row
					blockquote 
						cite По воспоминаниям Марии Андреевны Бекетовой о венчании: 
						p.h3.c-accent «Любовь Дмитриевна вошла в церковь под руку с отцом — Дмитрием Ивановичем Менделеевым, который для этого случая надел все свои ордена. Он был сильно взволнован…»
				.estate__row
					.estate__col
						h2.c-accent 1907 год
						p После смерти Дмитрия Ивановича в 1907 году, Боблово унаследовал Иван Дмитриевич Менделеев, его сын, учёный-естественник. Он поддерживал налаженное отцом хозяйство, в своём доме <span class="c-accent">организовал школу-интернат для деревенских детей</span>.
						p После революции 1917 года первый дом перешёл в ведение Соголевского волостного отдела народного образования. Старый дом Менделеева с 1900 года был <span class="c-accent">занят под школу</span>, а потом из-за ветхости в 1921 году <span class="c-accent">был разобран</span>. Второй дом и сарай-театр сгорели в 1919 году. Тараканово же уже при жизни Менделеева и Блока было в упадке.
						p.bolditalic Шахматово так же в 1917 году, незадолго после последнего визита Александра Александровича, было оставлено на произвол судьбы.
					.estate__col
						+picture('estates/history-image-03', 'Шахматово. \n Усадебный дом. 1894 год.')
				.estate__row
					.estate__col
						h2.c-accent Шахматово
						p Шахматово в 1921 году <span class="c-accent">сгорело</span> от умышленного или случайного пожара. В 1960-х годах началось <span class="c-accent">возрождение блоковской усадьбы</span>. С 1970 года ежегодно в Шахматове <span class="c-accent">проходят Праздники Поэзии</span>. С 1980 года начались работы по восстановлению усадьбы, и наконец, 5 августа 2001 года <span class="c-accent">открылся Главный дом усадьбы</span>.
					.estate__col
						h2.c-accent Боблово
						p В Боблово в 1922 году <span class="c-accent">разместилась школа</span>, просуществовавшая до 1960-х годов. В 1987 году, после капитального ремонта, в здании усадьбы был <span class="c-accent">открыт музей Дмитрия Ивановича Менделеева</span>.
						+picture('estates/sign-04', false, 'svg', 'rtl')
				.estate__row
					.estate__col
						+picture('estates/history-image-04', 'Тараканово. \n Церковь Архангела Михаила')
					.estate__col
						h2.c-accent 1928 год
						p Церковь в 1928 году закрыли и переоборудовали под клуб. Во время Великой Отечественной войны церковь <span class="c-accent">оказалась в эпицентре сражений</span> за Солнечногорск, по ней били из орудий и немцы, и советские солдаты. В результате от церкви Михаила Архангела <span class="c-accent">осталась лишь центральная часть</span>. Осенью 1978 года началась консервация церкви, остановленная из-за отсутствия средств, и работы продолжились только в 2016 году.
						+picture('estates/sign-05', false, 'svg', 'rtl')
				.estate__row
					.estate__col
						h2.c-accent В настоящее время
					.estate__col
						p В музее-заповеднике проводятся экскурсии по всем трём усадьбам. <span class="c-accent">В Боблове</span> рассказывают о Дмитрие Ивановиче Менделееве и о его вкладе в различные области науки, <span class="c-accent">в Шахматове</span> — о семье Бекетовых-Блока и их пребывании в усадьбе, <span class="c-accent">в Тараканове</span> — о творчестве поэта и о венчании Александра Блока и Любови Дмитриевны Менделеевой.
						a.btn.btn-primary Билеты
						+picture('estates/sign-05', false, 'svg', 'rtl')
					.estate__col
						p Ежегодно в усадьбе Шахматово <span class="c-accent">проводятся Сиреневый фестиваль и Праздник Поэзии</span> (каждое первое воскресенье августа). В Боблове летом проходит фестиваль науки и искусств «МЕНДЕЛЕЕВ» для старшеклассников и абитуриентов. <span class="c-accent">Во всех трёх усадьбах</span> музея-заповедника организовываются уникальные фольклорные праздники, интерактивные программы, новогодние гуляния, мастер-классы и квесты.