extends ../base

block vars
	-let pageName = 'history-page'
	-let pageTitle = 'История Музея-Заповедника'
	-let metaTitle = 'История Музея-Заповедника | Музей-заповедник Д.И. Менделеева и А.А. Блока'
	-let metaDescription = ''
block content
	main.main(class= pageName)
		section.section.page-top
			.container
				.content 
					+breadcrumps(pageTitle)
					.section-heading.section-heading--center
						h2.section-header= pageTitle
		section.section.banner
			.banner__container.container
				.banner__content.narrow-content
					.swiper.swiper-mainbanner.swiper--nav-bottom
						.swiper-wrapper.banner__list
							.swiper-slide.banner__item
								+picture('museum-image-01')
							.swiper-slide.banner__item
								+picture('museum-image-02')
							.swiper-slide.banner__item
								+picture('museum-image-03')
							.swiper-slide.banner__item
								+picture('museum-image-04')
						.banner__tools
							.swiper-navigation.banner__navigation
								.swiper-button-prev.banner__btn.banner__btnprev
								.swiper-button-next.banner__btn.banner__btnnext
							.swiper-pagination.banner__pagination
		section.section.history
			.history__container.container
				.history__content.content.user-content 
					ul.history__list
						+historyItem('1917')
							p В 1917 году в последний раз в усадьбу Шахматово приезжали её владельцы — Александра Андреевна Кублицкая-Пиоттух (мать А. Блока) и Мария Андреевна Бекетова (тётушка поэта).
						+historyItem('1922–24 ')
							p В 1922–1924 годах временный научный сотрудник Государственной Академии Художественных наук и член Московской Блоковской Ассоциации — Пётр Алексеевич Журов совершил несколько поездок в Шахматово и его окрестности. Во время этих поездок он собрал уникальный материал о жизни и творчестве А.А. Блока, истории Шахматова, разыскал и описал книги из усадебной библиотеки Бекетовых-Блока, а позднее вывез небольшую часть книг в Москву. П.А. Журова можно назвать первопроходцем Шахматова, в 1927 году на заседании Блоковской ассоциации им был прочитан доклад «Шахматовская библиотека Бекетовых-Блока».
						+historyItem('1927')
							p В 1927 году в издательстве «Академия» вышла книга «Письма Александра Блока к родным» М.А. Бекетовой, в 1930-м – «Александр Блок. Биографический очерк».
						+historyItem('1944–45')
							p В 1944–45 годах литературовед Д.Е. Максимов организовал семинар при Ленинградском государственном университете по творчеству А.А. Блока.
						+historyItem('1946')
							p В 1946 году по заданию Государственного Литературного музея, в Шахматово приехал фотохудожник Виктор Сергеевич Молчанов. В.С. Молчанов позже привёз в усадьбу Бекетовых-Блока — художника Илью Глазунова и писателя Владимира Солоухина.
							+picture('history/1946', 'В.С. Молчанов на дороге из Боблово в Шахматово, 1972 г.')
						+historyItem('1957')
							p В 1957 году Евгений Евтушенко написал стихотворение «Когда я думаю о Блоке» с посвящением – «И. Глазунову».
						+historyItem('1965')
							p 7 сентября 1965 года учащиеся 9 класса школы № 1 г. Солнечногорска с директором Петром Ефимовичем Резником отправились в поисковую экспедицию на границу Солнечногорского и Дмитровского района с целью — разыскать место, где находился блоковский дом.
							p В 1965 году первым о Шахматове написал художник И.С. Глазунов. Статья называлась «Там, где жил Блок» и сопровождалась двумя рисунками. Позже, в разные годы, И.С. Глазунов создал серию картин на стихи А. Блока.
						+historyItem('1969')
							p В июле 1969 года в «Литературной газете» был опубликован материал С.С. Лесневского «Здесь жил Александр Блок». Осенью этого же года по совету Семёна Степановича Гейченко, хранителя Пушкинского заповедника в Михайловском, в Шахматове был установлен камень-валун.
							+picture('history/1969', 'Валун, перевезённый в Шахматово из деревни Осинки С. Лесневским и Ю. Васильевым, 1970 г.')
						+historyItem('1970')
							p В 1970 году в бывшей земской школе села Тараканова Московская писательская организация Союза писателей РСФСР подготовила и открыла 9 августа 1970 года фотовыставку, посвящённую жизни и творчеству Александра Блока. Вскоре в это же здание перевели сельскую библиотеку, которой присвоили имя А.А. Блока.
							p 9 августа 1970 года, в Шахматове, на поляне у Блоковского валуна состоялся первый Праздник Поэзии. Его ведущим стал, видевший и слышавший Александра Блока, Павел Антакольский, близкий друг и поклонник Марины Цветаевой.
							p С 1970-го – в первое воскресенье августа в Шахматове проходят ежегодные Праздники Поэзии, среди участников которых были поэты и писатели: Павел Антакольский, Алексей Сурков, Константин Симонов, Ираклий Андроников, Лев Ошанин, Евгений Долматовский, Маргарита Алигер, Сергей Васильев, Владимир Солоухин, Людмила Татьяничева, Александр Михайлов, Виктор Боков, Михаил Львов, Екатерина Шевелева, Римма Казакова, Лариса Васильева, Владимир Соколов, Евгений Евтушенко. На праздники приезжали: Сергей Коненков, Мариэтта Шагинян, Расул Гамзатов, Сергей Орлов, Борис Слуцкий, Давид Самойлов.
							+picture('history/1970', 'Е. Евтушенко прочитал стихотворение «Вам, кто руки не подал Блоку»')
						+historyItem('1971')
							p В 1971 году в земской школе села Тараканова была открыта выставка, подготовленная Государственным Литературным музеем, а у здания школы №1 г. Солнечногорска установлен бюст А.А. Блока (скульптора И. Кругловой).
							p В 1971 году литературоведом С.С. Лесневским и Московским городским экскурсионным Бюро разработаны пеший маршрут из с. Тараканова в Шахматово.
							+picture('history/1971', 'У первой школы г. Солнечногорска')
						+historyItem('1972')
							p К 1972-му в школьном «уголке А.А. Блока» экспонировалась предметы мебели из усадьбы Шахматово.
							p 6 августа 1972 года на Празднике Поэзии Е. Евтушенко прочитал свое стихотворение «Взойдите те, кто юн на блоковский валун» с посвящением – «С.С. Лесневскому».
						+historyItem('1975')
							p В 1975 году в тартуском сборнике «Труды по русской и славянской филологии» опубликованы: статья литературоведа П.А. Журова «Шахматовская библиотека Бекетовых-Блока», составленная им опись книг библиотеки и письмо М.А. Бекетовой.
						+historyItem('1976')
							p В 1976 году в журнале «Неделя» опубликована фрагмент статьи П.А. Журова «Сад Блока». В июле 1976-го в Шахматове начаты исследовательские работы.
							p В связи с подготовкой к 100-летию поэта Александра Блока Министерство культуры РСФСР издало приказ №552 от 24 мая 1976 года «Об увековечении памяти», в котором предполагалось к 1980 году восстановить усадебный дом и флигель, разработать проект благоустройства территории с восстановлением зелёных насаждений, пруда и колодца.
						+historyItem('1977')
							p 2 марта 1977 года в «Правде» (рубрика «Проекты») напечатана статья Н. Дорофеева «Поднимется дом с мезонином».
							p В 1977 году вышла книга С.С. Лесневского «Завещанное, заветное…».
						+historyItem('1979')
							p В 1979 году В. Солоухин написал статью «Большое Шахматово». 
						+historyItem('1980')
							p В 1980-м, к 100-летию со дня рождения А.А. Блока, в издательстве «Московский рабочий» вышла книга С.С. Лесневского «Путь, открытый взорам: Московская земля в жизни Александра Блока».
						+historyItem('1981')
							p 16 сентября 1981 года Совет Министров РСФСР принял постановление №518 «О мерах по восстановлению памятных мест Подмосковья, связанных с жизнью и творчеством поэта А.А. Блока».
						+historyItem('1982')
							p В 1982-м опубликованы мемуары М.А. Бекетовой «Шахматово. Семейная хроника».
							p В 1982 году в издательстве «Советский писатель» вышла книга С.С. Лесневского «Я к вам приду…:Поэты. Поэзия. Время». В то же время Жорж Нива в журнале «Revue des etvdes slaves» Paris опубликовал статью П.А. Журова «Впервые в Шахматове. Лето 1924 года».
							+picture('history/1982')
						+historyItem('1983')
							p В 1983 году Исполкомом Мособлсовета на стыке Солнечногорского, Дмитровского и Клинского районов утвердил зоны охраны: границы заповедной территории, зоны охраняемого ландшафта и регулирования.
							p В 1983 году С.С. Лесневский в издательстве «Современник» напечатал сборник статей «Блок и современность». В этот же год школьный «уголок А.А. Блока» приобрел звание «Школьного музея» Солнечногорской школы №1 имени А.А. Блока.
						+historyItem('1984')
							p Приказом Главного управления культуры Мособлисполкома с 10 сентября 1984 года был открыт Государственный историко-литературный и природный музей-заповедник А.А. Блока. Первым директором назначена – З.Е. Цапко.
							p В 1984 г. литературоведами, С.С. Лесневским и В.П. Енишерловым, было подготовлено письмо Ю.В. Андропову о возрождении усадьбы Д.И. Менделеева – Боблово.
							+picture('history/1984')
						+historyItem('1985-89')
							p За 1985-1989 годы в фонды музея-заповедника поступили уникальные мемориальные предметы, принадлежащие А.А. Блоку и членам его семьи, книги поэта, предметы мебели из Шахматова.
						+historyItem('1985')
							p В декабре 1985 года отделом «Всесоюзное специализированное реставрационное производственное объединение «Союзреставрация» научно-исследовательские проектные мастерские» при Министерстве культуры СССР рассмотрели варианты плана 1 и 2 этажей главного дома Шахматова. Эту работу подготовили: начальник архитектурного проекта — А.В. Гаврилов, главные архитектурные проектировщики — В.И. Якубени и Т.А. Петрова, архитекторы – Семеновская, М. Авсюк, А. Чернова.
						+historyItem('1986')
							p В августе 1986 года в журнале «Огонек» вышла статья П.А. Журова «Впервые в Шахматове. Лето 1924 года».
						+historyItem('1988')
							p В 1988-м по результатам научно-исследовательской работы главного хранителя музея-заповедника С.М. Мисочник были найдены и переданы музею-заповеднику книги из шахматовской библиотеки Бекетовых-Блока.
							p В 1988 году поступило значительное собрание автографов А.А. Блока и деятелей литературы начала ХХ века. Факсимиле портретов и снимков А.А. Блока и его окружения, копии в технике оригинала из собрания Пушкинского Дома, Государственного литературного музея и других хранилищ.
						+historyItem('1990')
							p В 1990 году вышел буклет «Шахматово», авторы-составители: В.П. Арзамасцев и Н.Г. Прозорова.
							p В августе 1990-го в Шахматово и Тараканово приезжал академик Дмитрий Сергеевич Лихачев.
							+picture('history/1990', 'Рисунок А.А. Блока')
						+historyItem('1992')
							p В 1992 году в музее-заповеднике прошли две научные конференции с участием сотрудников Блоковской группы ИМЛИ РАН.
							+picture('history/1992')
						+historyItem('1996')
							p В 1996 году школа им. А.А. Блока безвозмездно передала музею-заповеднику 8 предметов мебели, найденных в окрестностях Шахматова поисковой группой учеников во главе с заместителем директора школы Г.В. Резником. В школьном музее художник-экспозиционер Ю.В. Решетников открыл выставку о жизни и творчестве А.А. Блока.
							+picture('history/1996', 'Рисунок А.А. Блока')
							p Главный дом усадьбы Шахматово восстанавливали по рисунку А.А. Блока, фотографиям Владимира Николаевича Бекетова, двоюродного брата мамы поэта, воспоминаниям биографа семьи, младшей тетушки поэта – Марии Андреевны Бекетовой: «Александр Блок Биографический очерк»; «Александр Блок и его мать. Воспоминания и заметки»; «Шахматово. Семейная хроника»; двухтомному изданию «Письма Александра Блока к родным».
						+historyItem('1997')
							p С 1997 года началось восстановление главного дома.
						+historyItem('2000')
							p С 2000 года журналом «Наше наследие» учреждена премия имени Александра Блока за лучшее нехудожественное произведение (публикацию), посвященное историко-культурному наследию России. В разные годы лауреатами премии были: А.В. Лавров, С.С. Лесневский, В.М. Гаевский, Е.Б. Коркина, В.К. Лосская, Н.Н. Скатов, М.В. Нащокина, А.А. Венгеров, Е. Чуковская, Ю. Рост.
							p В 2000 году был открыт для посещения флигель на территории усадьбы Шахматово.
							+picture('history/2000')
						+historyItem('2001')
							p В 2001 году был открыт Главный дом усадьбы Шахматово.
