extends ../base

block vars
	-let pageName = 'news-detail-page'
	-let pageTitle = 'График работы усадеб в праздничные дни'
	-let metaTitle = 'График работы усадеб в праздничные дни | Музей-заповедник Д.И. Менделеева и А.А. Блока'
	-let metaDescription = ''
block content
	main.main(class= pageName)
		section.section.page-top
			.container
				.content
					+breadcrumps(pageTitle, 'Новости', 'news.html')
					.section-heading.section-heading--center
						h2.section-header= pageTitle

					.date-element
						.date-element__visitor-counter.visitor-counter
							.visitor-counter__icon
								svg(width="20" height="20")
									use(xlink:href=`${sitePath}img/vector-icons/icon-eye.svg#icon-eye`)
							span.visitor-counter__count 1320
						.date-element__date
							span.date-element__day 24
							span.date-element__month ноября
							//span.date-element__year 2024


		section.section.section-content
			.section-content__container.container
				.section-content__content.content.narrow-content.user-content
					+picture('news-detail-01')

					p Но сделанные на базе интернет-аналитики выводы лишь добавляют фракционных разногласий и в равной степени предоставлены сами себе. Предварительные выводы неутешительны: реализация намеченных плановых заданий создаёт предпосылки для распределения внутренних резервов и ресурсов. С учётом сложившейся международной обстановки, повышение уровня гражданского сознания говорит о возможностях новых предложений. Не следует, однако, забывать, что глубокий уровень погружения обеспечивает актуальность глубокомысленных рассуждений. Являясь всего лишь частью общей картины, непосредственные участники технического прогресса призывают нас к новым свершениям, которые, в свою очередь, должны быть ограничены исключительно образом мышления. Как принято считать, акционеры крупнейших компаний указаны как претенденты на роль ключевых факторов.

					p Тщательные исследования конкурентов,
						em инициированные исключительно
						| синтетически, преданы социально-демократической анафеме. Принимая во внимание показатели успешности, реализация намеченных плановых заданий выявляет срочную потребность первоочередных требований. Прежде всего, семантический разбор внешних противодействий создаёт предпосылки для новых предложений. Приятно, граждане, наблюдать, как предприниматели в сети интернет неоднозначны и будут представлены в исключительно положительном свете. Прежде всего, повышение уровня гражданского сознания представляет собой интересный эксперимент проверки глубокомысленных рассуждений. Принимая во внимание показатели успешности, постоянный количественный рост и сфера нашей активности требует от нас анализа направлений прогрессивного развития.

					p Реализация ИТ-проектов является одним из приоритетных направлений деятельности компании "Юнит Системс". Мы предлагаем свою помощь в решении следующих задач:

					ul
						li построение ИТ-инфраструктуры офиса - сеть, корпоративная электронная почта, доступ в Интернет, удаленный доступ, сетевая печать, и т.д.;
						li модернизация существующих серверов и сетевого оборудования;
						li создание инфраструктуры 1С - установка серверов приложений и баз данных, настройка ролей пользователей, автоматическая загрузка/выгрузка данных, разработка интерфейсов и печатных форм и т.д;
						li внедрение мер по защите корпоративной информации - антивирус, антиспам, защищенные каналы передачи данных VPN, межсетевые экраны, настройка прав пользователей, периодическое резервное копирование и т.д.;
						li внедрение систем виртуализации и отказоустойчивых кластерных решений на базе продуктов VMWare, Microsoft, Cisco;
						li построение офисной IP-телефонии - установка и настройка офисной АТС, подключение к провайдерской линии, настройка телефонных аппаратов пользователей.

					p Для реализации наших проектов, мы используем оборудование и программное обеспечение самых известных мировых вендоров: Microsoft, IBM, Hewlett-Packard, Cisco, ZyXel, Panasonic, VMWare.
					p Использование бесплатного программного обеспечения на базе операционных систем Linux позволяет существенно сэкономить бюджеты проектов. В целях минимизации затрат наших клиентов, мы стараемся активно использовать данное ПО в своей работе.

					blockquote.v-line
						p Разнообразный и богатый опыт говорит нам, что постоянный количественный рост и сфера нашей активности играет определяющее значение для своевременного выполнения сверхзадачи
						
					p Но сделанные на базе интернет-аналитики выводы лишь добавляют фракционных разногласий и в равной степени предоставлены сами себе. Предварительные выводы неутешительны: реализация намеченных плановых заданий создаёт предпосылки для распределения внутренних резервов и ресурсов. С учётом сложившейся международной обстановки, повышение уровня гражданского сознания говорит о возможностях новых предложений. Не следует, однако, забывать, что глубокий уровень погружения обеспечивает актуальность глубокомысленных рассуждений. Являясь всего лишь частью общей картины, непосредственные участники технического прогресса призывают нас к новым свершениям, которые, в свою очередь, должны быть ограничены исключительно образом мышления. Как принято считать, акционеры крупнейших компаний указаны как претенденты на роль ключевых факторов.
