extends ../base

block vars
	-let pageName = 'park-page'
	-let pageTitle = 'Заповедник'
	-let metaTitle = 'Заповедник | Музей-заповедник Д.И. Менделеева и А.А. Блока'
	-let metaDescription = ''
block content
	main.main(class= pageName)
		section.section.page-top
			.container
				.content 
					+breadcrumps(pageTitle)
					.section-heading.section-heading--center
						h2.section-header= pageTitle
		section.section.offset-top
			.container 
				.groups
					ul.groups__list
						li.groups__item
							button.groups__btn.h5(data-button="plants") мемориальные растения
						li.groups__item
							button.groups__btn.h5(data-button="birds") птицы шахматово
				.groups__content.user-content.narrow-content#plants
					+picture('park/park-plants-01')
					h4(align="center") мемориальные растения
					p Одним из поэтических символов Шахматовской усадьбы является серебристый тополь. Во времена А. Блока их было два. Один рос у угла дома. В 1910 году поэт срубил его из-за ветхости. Второй ещё долго рос у въездной дороги на территории усадьбы, но в 1988 году погиб в результате грозовой бури.
					+picture('park/park-plants-02', 'Старый тополь. Фото В.С. Молчанова. 1973 г.')
					+quote('А. Блок — «Возмездие»')
						p 
							|И старики, не прозревая<br>
							|Грядущих бедствий<br>
							|За грош купили<br>
							|Угол рая, неподалёку от Москвы
					p На месте воспетого в «Возмездии» старого серебристого тополя, при въезде в усадьбу был посажен молодой тополь в 1989 году.
					+picture('park/park-plants-03', 'Серебристый тополь у дороги. Растёт на месте мемориального тополя.')
					+picture('park/park-plants-04', 'А в парке на лужайке против бокового фасада дома в настоящее время растёт самый старый тополь в возрасте 90 лет.')
					+quote('М.А. Бекетова')
						p «Шахматово встречало всех приезжающих тишиной, жужжанием пчёл в зарослях шиповника, шелестом таволги и высоких серебристых тополей. Этих прекрасных деревьев было два. Они стояли в саду у забора, близ дома, сейчас за калиткой, которая вела во двор. Их могучие стволы в несколько обхватов имели неровную серую кору. Наподобие слоновой кожи, а длиннейшие ветки осеняли и сад, и двор, распространялись на далёкое пространство. Отсюда можно было услышать колокольцы и увидеть гостей, подъезжающих на тройках с железнодорожной станции Подсолнечная»
					+quote('А. Блок — «Возмездие»')
						p 
							|«Огромный тополь серебристый склонял на домом свой шатер,<br>
							|Стеной шиповника душистый встречал въезжающего двор,<br>
							|Он был амбаром острой крышей от ветров северных укрыт,<br>
							|И можно было слышать какая тишина стоит».
					br
					h4(align="center") Растения — свидетели
					+quote('Как вспоминает тётушка А. Блока в своих мемуарах  — ', false, true)
						p «…двор, выходивший на северо-запад, имел весёлый и оживлённый вид. Среднюю часть его занимали две большие круглые куртины цветущих кустов, обнесённых низкой оградой из зелёных столбиков, соединённых перекладиной. В клумбах преобладал розовый шиповник».
					+picture('park/park-plants-05')
					+quote('В куртине шиповника растут таволга белая, рябинник , бузина травянистая.')
						p «Ярко-пунцовый шиповник с золотой сердцевиной», перемешанный с другими декоративными кустами, заполнял всю середину двора. В детские годы Блок и его двоюродные братья устраивали в этой куртине, к великому неудовольствию бабушки, извилистые ходы, площадки и укрепления «для защиты от разбойников».
					+picture('park/park-plants-06', 'Рябинник')
					+quote('Самбуком Марья Андреевна называла бузину травянистую по её латинскому названию Sambucus ebulus')
						p «В другой куртине был особый сорт бледного и нежного шиповника, который не так заполнял всю клумбу, так что там оставались пустые места, которые мы засадили вскоре самбуком, неприхотливым растением, выпускающим из земли высокие толстые стебли с зонтиками мелких и грубых белых цветов.»
					.multi-images 
						+picture('park/park-plants-07', 'Бузина травянистая')
						+picture('park/park-plants-08', 'Ягоды травянистой бузины')
					+quote('Из воспоминаний М.А. Бекетовой:', false, true)
						p «Кроме шиповника, в ней было много кустов белой таволги и корнуса (cornus). He знаю русского названия этого растения: у него упругие и гладкие красные стебли и довольно крупные листья яйцевидной формы. Оно цветёт мелкими белыми цветами, составляющими небольшие пучки, но зелень его эффектна.»
					+picture('park/park-plants-09')
					p Речь идёт о свидине белой (дёрен белый, лат. Córnus álba), кусты которой сохранились и поныне.
					+picture('park/park-plants-10')
					+quote('')
						p 
							|« Да ветер клонит за окном,<br>
							|Столетние кусты сирени,<br>
							|В которых тонет старый дом…»
					p С северо-западной стороны главного усадебного дома, в средней части двора росла крупная куртина сирени. Растёт и сейчас, пережив нашествие леса и запустение. Это растение сохранилось со времён А. Блока, находится под пристальным вниманием специалистов-садоводов, является одним из символов музея заповедника.
					+picture('park/park-plants-11')
					p С тех же давних времён растёт вдоль забора, в парке и на хозяйственном дворе живучая и неприхотливая карагана древовидная, известная в народе под именем «жёлтая акация».
					+picture('park/park-plants-12')
					+quote('— Вспоминает Марья Андреевна.')
						p «Они отличались особенно сочной зеленью и почти заглушали акацию, посаженную позади них у забора.»
					+quote('М.А. Бекетова — «Александр Блок». Биографический очерк.')
						p «В то же лето занялись они устройством своего сада. Прежде всего соорудили дерновый диван. Его устроили в углу, где сходились две линии забора. Диван сработан был основательно и вышел очень удобный, широкий, с высокой спинкой. Блоки очень его любили и называли «канапэ» в память стихотворения Болотова «К дерновой канапэ». С боков, по сторонам его посадили они два молодых вяза, привезенных из Боблова. Деревья эти разрослись очень пышно; через несколько лет они сошлись ветвями и осенили канапэ.»
					+picture('park/park-plants-13')
					p Остатки дивана сохранились до наших дней. Вязы, растущие ныне по бокам «дернового канапэ», имеют порослевую природу (выросли из корней вязов, посаженных четой Блоков в 1904 году).
					+quote('Буйные заросли рейнутрии сахалинской встречают гостей Шахматова у калитки. Народное название растения — сахалинская гречиха. В записных книжках Блока читаем:', false, true)
						p «Два цветника. Табак. Вербены. Лилии. Филадельфус и сирень на голых буграх. Задняя стена забора к орешнику — сахалинская гречиха.»
					+picture('park/park-plants-14')
					+quote('Описывая шахматовский парк, М.А. Бекетова пишет:', false, true)
						p «Во многих местах попадались одичалые турецкие гвоздики, венерины колесницы (по‑народному — голубки) и царские кудри».
					+picture('park/park-plants-15')
					p Удивительно, но как и 145 лет назад на полянах в парке разномастная одичалая турецкая гвоздика и стройная лилия-саранка (царские кудри) цветёт по тенистым местам, иногда выскакивая прямо на тропинки сада.
					+picture('park/park-plants-16')
					p Все эти растения до сих пор сохранились в усадьбе, надолго пережив остальных её обитателей.
				.groups__content.user-content.narrow-content#birds
					+picture('park/park-birds-01')
					h4(align="center") птицы шахматово
					+quote('')
						p 
						|Сирени бледные дождем к земле прибиты…<br>
						|Замолкла песня соловья;<br>
						|Немолчно говор слышится сердитый<br>
						|Разлитого ручья…<br>
						|Природа ждет лучей обетованных:<br>
						|Цветы поднимут влажный лик,<br>
						|И вновь в моих садах благоуханных<br>
						|Раздастся птичий крик…
					p Читая эти строки восемнадцатилетнего Александра Блока, согласимся, что класс Avis заметные участники на празднике жизни. И обратимся по традиции к главному шахматовскому хронисту, тётушке поэта, Марии Андреевне Бекетовой. В своей книге «Шахматово. Семейная хроника» она пишет:
					+quote('')
						p «В саду водилось множество певчих птиц. Соловьи заливались около самого дома в кустах шиповника и сирени, и целые хоры их звенели из-за пруда и со стороны рощ и лесов, подходивших к нашей усадьбе».
					p Сейчас соловьёв в Шахматове нет, видимо покинули усадьбу вместе с Поэтом. Место соловья в зарослях шиповника перед домом нынче замещает садовая камышовка. С успехом замещает, потому певец замечательный и даже 9 шахматовских котов ему не помеха.
					+picture('park/park-birds-02', 'Садовая камышовка.')
					+quote('Читаем далее:', false, true)
						p «На липы в солнечные летние дни любили прилетать иволги. Они оглашали сад своим звонким свистом и мелькали яркой желтизной, перелетая с одного дерева на другое».
					+picture('park/park-birds-03', 'Иволга.')
					+quote('Да. так происходит и в наше время. Верно написала Мария Андреевна и про дроздов:', false, true)
						p «Дрозды всех сортов водились во множестве. Они трещали, свистели и прыгали по лужайкам и по деревьям.»
					.multi-images 
						+picture('park/park-birds-04', 'Дрозд белобровик')
						+picture('park/park-birds-05', 'Певчий дрозд')
					+picture('park/park-birds-06', 'Рябинник')
					+quote('Трещат рябинники, а вот чёрный и певчий дрозды настолько несравненно хороши в пении, что «свистят» для них обидно. Да и белобровики «чучуфырят» по вечерам мелодично и загадочно.', false, true)
						p «Оживлённый крик дятла и стук его крепкого носа раздавался в стороне дуплистых берез.»
					+picture('park/park-birds-07', 'Желна')
					p Останется загадкой — было ли это громкое пиканье большого пёстрого или протяжный, наводящий мурашки, вопль желны. Оба в Шахматове постоянные обитатели. А вот седой дятел и малый пёстрый навещают нас эпизодически.
					.multi-images
						+picture('park/park-birds-08', 'Малый пёстрый дятел')
						+picture('park/park-birds-09', 'Седой дятел')
					+quote('— пишет М.А. Бекетова. Не прилетают уж. Хотя могли бы. Зато неизменно проносятся в небе упитанные стремительные вяхири. Вот сегодня слышно в ёлках их утробное воркованье.')
						p Среди лета неизменно прилетала пара горлинок, и в глубине сада раздавалось их нежное воркование.»
					+picture('park/park-birds-10', 'Вяхирь')
					+quote('И у нас, Мария Андреевна, не водятся в вашей усадьбе. Шахматово — место обитания воронов. А у них с воронами и грачами договор о нерушимости границ. Их гнездо на вершине сосны у пруда. Вороны с такой важной неспешностью облетают территорию, так уверенно восседают на крышах усадебных строений, что кажется, что истинные владельцы усадьбы — они. Или Хранители.')
						p «Ворон и грачей в усадьбе у нас не водилось.»
					+picture('park/park-birds-11', 'Ворон')
					+quote('— заметил А. Блок. Очень верно — есть у них такой удивительный звук.')
						p «Ворон канул на сосну, тронул сонную струну»
					+quote('Очень хорошо Мария Андреевна написала о совах:', false, true)
						p «В сумерки и по ночам прилетали совы, привлечённые обилием птиц и летучих мышей. Вокруг дома летали и садились на крышу маленькие совы, издающие резкий крик вроде звука: кю-и, кю-и. А иногда хохотали и завывали большие совы. В лунные ночи они перелетали в саду с одной дуплистой берёзы на другую, и мы с сёстрами прислушивались к их разнообразным крикам. Видеть их можно было только на лету или неподвижно сидящими на крыше какого‑нибудь строения. Их протяжные стенящие крики, совсем похожие на призыв человека в беде, раздавались иногда очень издалека, из глубины казённого леса, и часто пугали меня во время ночной бессонницы, но когда они приближались, я понимала своё заблуждение».
					+picture('park/park-birds-12', 'Воробьиный сычик — из наших сов самая мелкая.<br>Размером он со скворца.')
					p(align="center") В первой птице по лаконичному, но меткому описанию безошибочно угадываем воробьиного сычика, а другие несомненно ушастые совы. Привлекали их не птицы и летучие мыши, а просто мыши, многочисленные и доступные на вытоптанном дворе.
					+picture('park/park-birds-13', 'Ушастая сова')
					p(align="center") Вот так, слегка коснулась Мария Андреевна местной орнитофауны, дочь не орнитолога, но ботаника.В творчестве Александра Александровича упоминания конкретных видов тоже мало. Сирины и гамаюны — не в счёт.
					+picture('park/park-birds-14', 'Ласточка')
					+quote('— о деревенских ласточках. Кстати и Мария Андреевна упоминает, что гнездились они под крышей каретного сарая. Сейчас не гнездятся. Каким-то образом догадываются, что Шахматово нынче музей, а не деревня.')
						p «Быстрый лёт касаток низок»
					+picture('park/park-birds-15', 'Чёрный коршун (Milvus migrans)')
					+quote('Благодаря строкам Блока:', false, true)
						p 
							|«Чертя за кругом плавный круг,<br>
							|Над сонным лугом коршун кружит…»
					p(align="center") Milvus migrans стал тотемной птицей местных племён, несмотря на то, что круги в небе над Бекетовскими запашками чаще чертит пара канюков, которые гнездятся рядом, а коршуны залетают изредка.
					+picture('park/park-birds-16', 'Канюк')
					p(align="center") Коршуны в Тараканове постоянные обитатели. Из других хищников навещают нас иногда тетеревятник, перепелятник и пустельга.
					+picture('park/park-birds-17', 'Пустельга')
					+quote('Перечислять всех птиц проживающих в окрестностях Шахматова, в самом деле, смысла нет. Видовой состав обычен для средней полосы. Но, вот Любовь Дмитриевна Блок пишет из Шахматова Александру Александровичу:', false, true)
						p «И еще вчера вдруг запела в кустах на дворе зарянка — та же, так же, как в прошлом году и прежде. Когда я вышла из дома вечером после чая и вдруг опять ее услыхала, — даже пошатнулась (в самом деле; вечер тихий, она поет, как сумасшедшая, за полем, за елками — светлое нежное небо. Стояла на балконе, и так близки, так живы были наши поцелуи в такие вечера, а потом, когда мы затихали в нашей комнате, зарянка продолжала, продолжала свою милую, одну и ту же без конца песню, так громко, под окном. У меня дыханье захватило, когда все это ожило, и если ты не помнишь, не любишь это теперь, вспомнишь и полюбишь потом, непременно.»
					+picture('park/park-birds-18', 'Зарянка')
					p(align="center") Читая это, понимаешь, что не напрямую, но опосредованно птицы играют большую роль в творчестве поэта. Зарянки, славки и овсянки не упомянутые в строках вплетали в жизненный шум Великого Романтика свои чудные нотки.