extends ../base

block vars
	-let pageName = 'estate-page'
	-let pageTitle = 'Усадьба Тараканово'
	-let metaTitle = 'Усадьба Тараканово | Музей-заповедник Д.И. Менделеева и А.А. Блока'
	-let metaDescription = ''
block content
	main.main(class= pageName)
		section.section.page-top
			.container
				.content 
					+breadcrumps(pageTitle)
					.section-heading.section-heading--center
						h2.section-header= pageTitle
		section.banner
			.banner__container.container
				.banner__content.narrow-content
					.swiper.swiper-mainbanner.swiper--nav-bottom
						.swiper-wrapper.banner__list
							.swiper-slide.banner__item
								+picture('tarakanovo-image-01')
							.swiper-slide.banner__item
								+picture('tarakanovo-image-01')
							.swiper-slide.banner__item
								+picture('tarakanovo-image-01')
							.swiper-slide.banner__item
								+picture('tarakanovo-image-01')
						.banner__tools
							.swiper-navigation.banner__navigation
								.swiper-button-prev.banner__btn.banner__btnprev
								.swiper-button-next.banner__btn.banner__btnnext
							.swiper-pagination.banner__pagination

		section.section.section-content
			.section-content__container.container
				.section-content__content.content.narrow-content.user-content

					p Усадьба Тараканово известна по старинным документам ещё с 1627 года. Тогда это село называлось — Высокое (вероятно из-за расположения на холме).
					p В 1627 году этой усадьбой владел Неустрой Зароцкий. Своё современное название усадьба получила от владевших этими землями более ста лет дворян Таракановых. Таракановы — известный род, который был занесён в шестую книгу родословной Московской губернии.
					p В 1678 году Никита Ксенофонтович Тараканов построил здесь деревянную церковь Архистрага Михаила. В начале 18 века усадьба перешла сыну стольника Василья — Ивану Васильевичу Тараканову.
					p Иван Васильевич перестроил усадьбу в строгих правилах «регулярной архитектуры»: двухэтажный дом, пруд, церковь. Усадебный дом был в ветхом состоянии уже тогда, когда здесь бывал великий поэт — А. Блок.
					p В 1755–1764 годах капитан Иван Васильевич Тараканов построил новую, уже каменную церковь того же посвящения. Храм был выстроен в стиле барокко по проекту неизвестного архитектора круга К.И. Бланка.
					p В 1874 году колокольня Михайло-Архангельской церкви стала резко кренится и её разобрали. По проекту В.С. Грудзина рядом с храмом построили небольшую звонницу, простоявшую до 1936 г.
					p М.А. Бекетова (тётушка А. Блока) писала: «среди лужайки стояла белая каменная церковь с зелёной крышей около которой среди кустов и группы лип виднелось несколько заброшенных могил с покосившимися крестами. Церковь была довольно большая и старая, необычной для наших мест архитектуры, внутри были старинные образа и лепные украшения».
					p 17 августа 1903 года в храме венчались А.А. Блок и Л.Д. Менделеева. А годом раньше в храме отпевали ректора Санкт-Петербургского университета, профессора А.Н. Бекетова, деда поэта. Церковь Михаила Архангела увековечена в стихах Александра Блока и в поэме «Возмездие».

					+quote('А. Блок')
						p Девушка пела в церковном хоре
							br
							| О всех усталых в чужом краю,
							br
							| О всех кораблях, ушедших в море,
							br
							| О всех, забывших радость свою.
							br
							| Так пел её голос, летящий в купол,
							br
							| И луч сиял на белом плече,
							br
							| И каждый из мрака смотрел и слушал,
							br
							| Как белое платье пело в луче.
							br
							| И всем казалось, что радость будет,
							br
							| Что в тихой заводи все корабли,
							br
							| Что на чужбине усталые люди
							br
							| И голос был сладок, и луч был тонок,
							br
							| И только высоко, у Царских Врат,
							br
							| Причастный Тайнам,- плакал ребёнок
							br
							| О том, что никто не придёт назад.

					p В 1928 году церковь закрыли. Позже её использовали в разных целях: как овощехранилище, как склад, как контору и клуб.
					p Во время Великой Отечественной войны, в ходе боёв Красной армии с фашистами под Солнечногорском, храм оказался буквально на передовой. В нем находился артиллерийский наблюдательный пункт, и храм превратился практически в руины…
					p Рядом с храмом захоронена троюродная племянница А.А. Блока — Ольга Сергеевна Соловьёва, дочь Сергея Михайловича Соловьёва, который был шафером на свадьбе Блоков. Ольга Сергеевна ушла из жизни в 2001 году.
					p Справа от храма Михаила Архангела в 2008-м, в «Год семьи», установлен памятник Любови Дмитриевне и Александру Александровичу Блокам (скульптора Александра Александровича Рожникова).
					p В музейный комплекс усадьбы капитана Ивана Васильевича Тараканова входит земская школа, построенная 1897 году. С 1898 года началась её история. За время существования, земская школа выучила грамоте несколько поколений деревенских детей. В 1969 году школа была закрыта за ненадобностью.
					p 9 августа 1970 года в стенах земской школы Московская писательская организация Союза писателей РСФСР подготовила и открыла фотовыставку, посвящённую жизни и творчеству А. Блока. Вскоре в это же здание была переведена сельская библиотека, которой присвоили имя поэта.
					p В земской школе сейчас располагается экспозиция «Жизнь без начала и конца», которая рассказывает о творческом и жизненном пути поэта Серебряного века — А.А. Блока.

		+eventsSection('Мероприятия в Тараканово', true)