// Цвета
$c-accent: #c87d37;
$c-accent-hover: #b5771d;
$c-second-color: #dfbb87;
$c-accent-light: #f9ead3;
$c-dark-text: #223642;
$c-light-text: #4a565e;
$c-stroke: #e2ddd6;
$c-white: #ffffff;
$c-label: #40a3ec;

// Макет
$transition-base: 0.2s ease;

// Медиа-запросы
$l-b: "max-width: 1400px";
$l-m: "max-width: 1200px";
$l-s: "max-width: 1024px";
$t: "max-width: 860px";
$p-b: "max-width: 567px";
$p-m: "max-width: 480px";
$p-s: "max-width: 360px";
