// Цвета
$c-accent: #c87d37;
$c-accent-hover: #b5771d;
$c-second-color: #dfbb87;
$c-accent-light: #f9ead3;
$c-dark-text: #223642;
$c-light-text: #4a565e;
$c-stroke: #e2ddd6;
$c-white: #ffffff;
$c-label: #40a3ec;

// Макет
$transition-base: 0.2s ease;

// Медиа
$l-m: "max-width: 1200px";
