.cost__block.documents
	h4.cost__heading таблицы в pdf формате
	ul.documents__list
		li.documents__item 
			h5.documents__name ПЕРЕЧЕНЬ ШАХМАТОВО
			.documents__info
				.documents__type.plague pdf
				button.documents__download.link.btn-link Посмотреть
		li.documents__item 
			h5.documents__name ПЕРЕЧЕНЬ ТАРАКАНОВО
			.documents__info
				.documents__type.plague pdf
				button.documents__download.link.btn-link Посмотреть
		li.documents__item 
			h5.documents__name ПЕРЕЧЕНЬ БОБЛОВО
			.documents__info
				.documents__type.plague pdf
				button.documents__download.link.btn-link Посмотреть
		li.documents__item 
			h5.documents__name ПРИКАЗ О ЛЬГОТНОМ ОБСЛУЖИВАНИИ
			.documents__info
				.documents__type.plague pdf
				button.documents__download.link.btn-link Посмотреть
		li.documents__item 
			h5.documents__name ПРАВИЛА ПРИЁМА ПОСЕТИТЕЛЕЙ И ПОРЯДОК ОБСЛУЖИВАНИЯ ПОСЕТИТЕЛЕЙ МУЗЕЯ-ЗАПОВЕДНИКА
			.documents__info
				.documents__type.plague pdf
				button.documents__download.link.btn-link Посмотреть