@charset "UTF-8";

@import "includes/reset";
@import "includes/vars";
@import "includes/fonts";

html,
body {
	scroll-behavior: smooth;
}

body {
	position: relative;
	min-height: 100vh;
	min-width: 1119px;
	overflow-x: hidden;
	background-color: $c-white;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: $c-dark-text;
	font-style: normal;
	line-height: normal;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: "Agora", sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}

h1,
.h1 {
	font-size: clamp(2.5rem, 2.1218rem + 1.6807vw, 3.5rem);
}

h2,
.h2 {
	font-size: clamp(2rem, 1.4328rem + 2.521vw, 3.5rem);
}

h3,
.h3 {
	font-size: clamp(2rem, 1.6218rem + 1.6807vw, 3rem);
}

h4,
.h4 {
	font-size: clamp(1.5rem, 1.3109rem + 0.8403vw, 2rem);
}

h5,
.h5 {
	font-size: clamp(1.125rem, 1.0777rem + 0.2101vw, 1.25rem);
}

a {
	text-decoration: none;
	transition: $transition-base;
	color: $c-accent;
}

a:focus,
a:active,
a:visited {
	outline: none;
	border: none;
}

img {
	max-width: 100%;
}

p {
	margin: 0 0 24px;
	line-height: 1.7;
}

p:last-child {
	margin: 0;
}

strong {
	font-weight: bold;
}

img {
	display: block;
	max-width: 100%;
}

::selection {
	background: $c-second-color;
}

.c-accent {
	color: $c-accent;
}

.link {
	color: $c-dark-text;
	&:hover {
		color: $c-accent;
	}
}

.btn {
	cursor: pointer;
	transition: $transition-base;
}

.btn-primary {
	color: $c-white;
	background: $c-accent;
	font-family: "Agora", sans-serif;
	display: inline-block;
	padding: 12px 24px;
	width: fit-content;
	min-width: calc(178px - 24px * 2);
	text-align: center;
	text-decoration: none;
	&:hover {
		background: $c-accent-hover;
	}
}

.btn-link {
	font-family: "Agora", sans-serif;
	font-weight: 500;
	color: $c-accent;
	text-decoration: underline;
	&:hover {
		color: $c-accent;
		text-decoration: underline;
	}
}

.wrapper {
	max-width: 1920px;
	overflow: hidden;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

.container {
	max-width: 1312px;
	padding: 0 50px;
	margin: 0 auto;
}

.main {
	flex-grow: 1;
	padding: 0;
	.inner {
		margin: 0;
		padding: 0;
		border: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}

.section {
	padding: 60px 0;
}

.section-heading {
	margin: 0 0 32px;
	&--center {
		text-align: center;
	}
}

.heading-more {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 32px;
}

.heading-link {
	font-size: 20px;
}

.breadcrumps {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: clamp(0.75rem, 0.7027rem + 0.2101vw, 0.875rem);
	margin: 0 0 24px;
	&__home {
		font-family: "Montserrat", sans-serif;
		color: $c-dark-text;
		text-decoration: none;
	}
	&__separator {
		display: flex;
		margin: 0 16px;
	}
	&__current {
		color: $c-light-text;
		font-weight: 500;
	}
}

.logo {
	display: flex;
	align-items: flex-end;
	gap: 8px;
	width: fit-content;
	&__text {
		span {
			display: block;
			text-decoration: none;
			color: $c-dark-text;
			text-transform: uppercase;
			&:first-child {
				font-size: 9px;
				margin: 0 0 2px;
			}
			&:last-child {
				font-size: 16px;
				font-family: "Agora", sans-serif;
				font-weight: 500;
				line-height: 1;
			}
		}
	}
}

.header {
	padding: 26px 0;
	color: $c-dark-text;
	&__content {
		display: grid;
		grid-template-columns: repeat(2, auto);
		gap: 26px 32px;
	}
}

.nav {
	&__list {
		display: flex;
	}
	&__link {
		color: $c-dark-text;
	}
	&__topmenu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 32px;
		@media ($l-m) {
			display: none;
		}
	}
	&__toplist {
		text-transform: uppercase;
		gap: 32px;
	}
	&__bottommenu {
		grid-column: span 2;
		@media ($l-m) {
			display: none;
		}
	}
	&__bottomlist {
		justify-content: space-between;
		.nav__item {
			border: 1px solid $c-stroke;
			border-right: none;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			&:last-child {
				border-right: 1px solid $c-stroke;
			}
		}
		.nav__link {
			font-size: 14px;
			padding: 12px 8px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			&.selected {
				color: $c-white;
				background-color: $c-accent;
			}
		}
	}
}

.footer {
	&__top {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid $c-stroke;
		border-bottom: 1px solid $c-stroke;
	}
	&__left {
		padding: 56px 16px;
		border-left: 1px solid $c-stroke;
		border-right: none;
		max-width: 308px;
	}
	.logo {
		margin: 0 0 26px;
	}
	.museum-name {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 500;
		margin: 0 0 24px;
	}
	.btn-up {
		background: $c-accent;
		color: $c-white;
		font-family: "Agora", sans-serif;
		padding: 13px 24px;
		max-width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&::after {
			content: "";
			background-image: url("data:image/svg+xml,%3Csvg width='21' height='11' viewBox='0 0 21 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 0.148926L21 10.1489H0L10.5 0.148926Z' fill='white'/%3E%3C/svg%3E%0A");
			width: 21px;
			height: 11px;
			display: block;
		}
	}
	&__nav {
		display: flex;
		border-right: 1px solid $c-stroke;
	}
	.nav__list {
		flex-direction: column;
		padding: 56px;
		border-left: 1px solid $c-stroke;
		gap: 12px;
		&:first-child {
			border: none;
		}
	}
	.nav__title {
		margin: 0 0 12px;
	}
	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 34px;
		padding: 24px 16px;
		font-size: 14px;
	}
	.social__list {
		display: flex;
		gap: 24px;
	}
	.social__link {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
	}
}

.top {
	&__content {
		display: flex;
		justify-content: space-between;
		gap: 32px;
	}
	&__heading {
		max-width: 694px;
		width: 100%;
		h1 {
			margin: 0 0 32px;
		}
		p {
			line-height: normal;
		}
	}
	&__text {
		flex: 1;
		max-width: 514px;
	}
}

.card {
	&-list {
		display: grid;
	}
	&-item {
		border: 1px solid $c-stroke;
		border-right: none;
		border-bottom: none;
		transition: $transition-base;
		padding: 56px 32px;
		&:nth-child(2n),
		&:last-child {
			border-right: 1px solid $c-stroke;
		}
		&:last-child,
		&:nth-last-child(2) {
			border-bottom: 1px solid $c-stroke;
		}
		&:hover {
			background: #f9f8f7;
		}
	}
	&-list--two {
		grid-template-columns: repeat(2, 1fr);
		.card-item {
		}
	}
	&-list--three {
		grid-template-columns: repeat(3, 1fr);
		.card-item {
			&:nth-child(2n) {
				border-right: none;
			}
			&:nth-child(3n) {
				border-right: 1px solid $c-stroke;
			}
			&:nth-last-child(3) {
				border-bottom: 1px solid $c-stroke;
			}
		}
	}
	&-title {
		margin: 0 0 24px;
	}
}

.news {
	&__item {
		padding: 75px 32px 40px;
	}
	&__image {
		margin: 0 0 16px;
		position: relative;
		overflow: hidden;
		height: 248px;
		img {
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			width: 100%;
			height: 100%;
			transition: 0.5s ease-in-out;
		}
		&:hover img {
			transform: scale(1.1);
		}
	}
	&__date {
		display: block;
		margin: 0 0 16px;
		font-size: 14px;
	}
	&__title {
		display: block;
		margin: 0 0 8px;
		color: $c-dark-text;
		font-size: 20px;
		font-family: "Agora", sans-serif;
		font-weight: 500;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		line-height: 1.4em;
		height: 2.8em;
		position: relative;
		overflow: hidden;
	}
	&__announce {
		margin: 0 0 32px;
		font-size: 14px;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		line-height: 1.6em;
		height: 4.8em;
		position: relative;
		overflow: hidden;
	}
}

.rules {
	&__heading {
		margin: 0 0 56px;
	}
}

.image-caption {
	position: absolute;
	bottom: 8px;
	right: 8px;
	padding: 8px 24px;
	font-style: italic;
	font-size: 16px;
	display: block;
	background: $c-white;
}

.estates {
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 0 80px;
	}
	&__heading {
		flex: 1;
	}
	&__subscription {
		max-width: 494px;
		padding: 0 5%;
	}
	&__item {
		display: flex;
		margin: 0 0 80px;
		&:nth-child(2n) {
			div:first-child {
				order: 2;
			}
			div:last-child {
				order: 1;
			}
		}
		&:last-child {
			margin: 0;
		}
	}

	&__image {
		position: relative;
		flex: 0 1 100%;

		img {
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}
	&__text {
		flex: 0 0 36%;
		padding: 44px 32px 32px;
		background: #f9f8f7;
	}
	&__quoteblock {
		margin: 0 0 52px;
		text-align: center;
	}
	&__quote {
		display: flex;
		justify-content: center;
		text-align: center;
		font-style: italic;
		margin: 0 0 8px;
		font-size: 14px;
		font-weight: 300;
		gap: 12px;
		&::before,
		&::after {
			content: url("data:image/svg+xml,%3Csvg width='15' height='9' viewBox='0 0 15 9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.036 0.824H7.452L4.092 8.36H0.876L3.036 0.824ZM10.2782 0.824H14.6942L11.3342 8.36H8.11819L10.2782 0.824Z' fill='%23C87D37'/%3E%3C/svg%3E%0A");
			display: inline-block;
		}
		&::before {
			align-self: flex-start;
		}
		&::after {
			align-self: flex-end;
		}
		p {
			display: inline-block;
		}
	}
	&__author {
		font-family: "Agora", sans-serif;
		font-weight: 500;
		font-size: 16px;
	}
	&__name {
		margin: 0 0 32px;
	}
	&__description {
		margin: 0 0 24px;
	}
	&__link {
		font-size: 20px;
	}
}

.infotable {
	font-size: 14px;
	&__row {
		display: flex;
		gap: 12px;
		justify-content: space-between;
		margin: 0 0 4px;
		&:last-child {
			margin: 0;
		}
	}
	&__col {
		&:last-child {
			text-transform: uppercase;
			font-weight: 600;
			line-height: 1.5;
		}
	}
	a {
		color: $c-dark-text;
	}
}

.mode {
	&__list {
		display: flex;
	}
	&__item {
		flex: 1;
		padding: 32px;
	}
	&__title {
		margin: 0 0 24px;
		text-transform: uppercase;
		font-weight: 700;
	}
	&__row {
	}
	&__warning {
		padding: 24px 0;
		background: $c-accent;
		color: rgba(255, 255, 255, 0.7);
		font-weight: 500;
		text-transform: uppercase;
		strong {
			color: rgba(255, 255, 255, 1);
		}
	}
}

.ticker {
	position: relative;
	overflow: hidden;
	&__content {
		display: flex;
	}
	&__item {
		white-space: nowrap;
		flex-shrink: 0;
		padding: 0 24px;
		animation: ticker 12s linear infinite;
	}
}

@keyframes ticker {
	0% {
		transform: translateZ(0);
	}
	100% {
		transform: translate3d(-100%, 0, 0);
	}
}

.contacts {
	padding-bottom: 0;
	&__item {
		padding: 32px;
	}
	&__row {
		margin: 0 0 24px;
		&:last-child {
			margin: 0;
		}
	}
}

.partners {
	padding: 24px 0;
	&__list {
		justify-content: space-between;
	}
	&__item {
		flex: 0 0 calc((100% / 6) - 16px);
		margin: 0 16px 0 0;
		max-height: 114px;
		&:last-child {
			margin: 0;
		}
		img {
		}
	}
}

.banner {
	&__item {
		height: 528px;
		width: 100%;
		position: relative;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__slider {
		position: relative;
	}
	&__tools {
		position: absolute;
		top: 0;
		left: 32px;
		display: flex;
		height: 70px;
		width: fit-content;
		gap: 24px;
	}
	&__navigation {
		display: flex;
	}
	&__btn {
		position: relative;
		inset: initial;
		width: 70px;
		height: 70px;
		background: $c-accent;
		margin: initial;
		opacity: 0.9;
		transition: $transition-base;
		&::after {
			font-size: initial;
		}
		&:hover {
			opacity: 1;
		}
	}
	&__btnprev {
		background: $c-white;
		&::after {
			content: url("data:image/svg+xml,%3Csvg width='18' height='22' viewBox='0 0 18 22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.43099e-07 11.2681L18 0.875763L18 21.6604L1.43099e-07 11.2681Z' fill='%23C87D37'/%3E%3C/svg%3E%0A");
		}
	}
	&__btnnext {
		background: $c-accent;
		opacity: 1;
		&::after {
			content: url("data:image/svg+xml,%3Csvg width='18' height='22' viewBox='0 0 18 22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 11.2681L-9.78799e-07 21.6604L-7.02746e-08 0.875761L18 11.2681Z' fill='white'/%3E%3C/svg%3E");
		}
		&:hover {
			background: $c-accent-hover;
		}
	}
	&__pagination,
	.swiper-pagination {
		position: relative;
		inset: initial;
		height: 70px;
		margin: initial;
		display: flex;
		align-items: center;
	}
	&__bullet {
		width: 42px;
		height: 8px;
		background: $c-white;
		margin: 0 16px 0 0;
		opacity: 0.4;
		transition: $transition-base;
		&:last-child {
			margin: 0;
		}
		&--active {
			opacity: 1;
		}
	}
}

/* Яндекс карта */

.ymap,
#ymapMain {
	min-height: 460px;
	background-color: #e2ddd6;
}

@media (max-width: 1024px) {
	.ymap {
		max-height: 300px;
	}
}

ymaps {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	mix-blend-mode: luminosity;
}

[class*="balloon__content"] ymaps {
	font-family: "WixMadeforText", sans-serif;
	line-height: 1.4;
	font-size: 16px;
}

[class*="balloon-content"] ymaps a {
	display: inline-block;
	color: #4b4d55;
}

[class*="balloon-content__header"] {
	font-size: 22px !important;
	padding: 10px 0;
}

[class*="balloon-content__footer"] {
	padding: 10px 0;
	color: #4b4d55;
}

[class*="balloon-content__footer"] a {
	display: inline-block;
	color: #4b4d56;
}

[class*="copyrights-pane"] {
	display: none !important;
	margin: 10px;
	opacity: 0;
}
