.swiper--nav-bottom {
	.banner__tools {
		top: auto;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		@media ($t) {
			left: 32px;
			transform: initial;
		}
	}
}

.user-content {
	p {
		font-weight: 400;
		line-height: 200%;
		font-size: 14px;
		margin: 0 0 28px;

		@media ($l-m) {
			font-size: clamp(12px, 2vw, 14px);
			margin: 0 0 24px;
		}

		@media ($t) {
			line-height: 160%;
		}
	}

	blockquote {
		text-align: center;
		margin: 40px 0;

		@media ($l-m) {
			margin: 0 0 24px;
		}

		p {
			font-style: italic;
			line-height: 200%;
			color: $c-light-text;
			margin-bottom: 12px;

			@media ($l-m) {
				font-size: clamp(12px, 2vw, 14px);
				margin-bottom: 8px;
			}

			@media ($t) {
				line-height: 160%;
			}
		}

		cite,
		span {
			font-family: $agora;
			font-weight: 500;
			font-size: 14px;
			text-align: center;
			color: $c-dark-text;

			@media ($l-m) {
				font-size: clamp(12px, 2vw, 14px);
			}
		}
	}

	figure {
		margin: 0 0 40px;
		display: flex;
		flex-direction: column;
		gap: 12px;

		@media ($l-m) {
			margin: 0 0 clamp(24px, 3vw, 40px);
		}
	}

	picture {
		display: flex;
		justify-content: center;
	}

	img {
		text-align: center;
		min-height: 278px;
		object-fit: cover;
	}

	figcaption {
		font-family: $agora;
		font-weight: 500;
		font-size: 16px;
		text-align: center;
		color: $c-dark-text;
		margin: 12px 0 0;

		@media ($l-m) {
			font-size: clamp(14px, 2vw, 16px);
		}
	}

	& > * {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
