html,
body {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
  min-width: 320px;
  overflow-x: hidden;
  background-color: $c-white;
  font-family: $mont;
  font-size: clamp(0.75rem, 0.6555rem + 0.4202vw, 1rem);
  font-weight: 400;
  color: $c-dark-text;
  font-style: normal;
  line-height: normal;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $agora;
  font-weight: 500;
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: clamp(2.5rem, 2.1218rem + 1.6807vw, 3.5rem);
}

h2,
.h2 {
  font-size: clamp(2rem, 1.4328rem + 2.521vw, 3.5rem);
}

h3,
.h3 {
  font-size: clamp(2rem, 1.6218rem + 1.6807vw, 3rem);
}

h4,
.h4 {
  font-size: clamp(1.5rem, 1.3109rem + 0.8403vw, 2rem);
}

h5,
.h5 {
  font-size: clamp(1.125rem, 1.0777rem + 0.2101vw, 1.25rem);
}

a {
  text-decoration: none;
  transition: $transition-base;
  color: $c-accent;
}

a:focus,
a:active,
a:visited {
  outline: none;
  border: none;
}

img {
  max-width: 100%;
}

p {
  margin: 0 0 24px;
  line-height: 1.7;
  @media ($t) {
    margin: 0 0 12px;
  }
}

p:last-child {
  margin: 0;
}

strong {
  font-weight: bold;
}

img {
  display: block;
  max-width: 100%;
}

::selection {
  background: $c-second-color;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 0;
  width: fit-content;
}

.c-accent {
  color: $c-accent;
}

.section.offset-top {
  padding-top: 0;
}

.link {
  color: $c-dark-text;
  &:hover {
    color: $c-accent;
  }
}

.btn {
  cursor: pointer;
  transition: $transition-base;
}

.btn-primary {
  color: $c-white;
  background: $c-accent;
  font-family: $agora;
  display: inline-block;
  padding: 12px 24px;
  width: fit-content;
  min-width: calc(178px - 24px * 2);
  text-align: center;
  text-decoration: none;
  &:hover {
    background: $c-accent-hover;
  }
}

.btn-link {
  font-family: $agora;
  font-weight: 500;
  color: $c-accent;
  text-decoration: underline;
  font-size: 16px;
  &:hover {
    color: $c-accent-hover;
    text-decoration: underline;
  }
}

.btn-showmore {
  font-size: clamp(1rem, 0.9055rem + 0.4202vw, 1.25rem);
}

.pagination {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 32px 0;
  justify-content: center;
  @media ($t) {
    padding: 24px 0;
  }
  .page-numbers,
  .separator {
    width: 38px;
    height: 38px;
    background: #f9f8f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f9f8f7;
    color: $c-dark-text;
    transition: $transition-base;
    font-weight: 500;
    font-size: 16px;
    &:hover {
      color: $c-accent;
    }
    &.current {
      font-weight: 700;
      border-color: $c-accent;
      color: $c-accent;
    }
  }
  .prev,
  .next {
    svg {
      width: 16px;
      height: 10px;
      stroke: $c-accent;
    }
  }
  .prev {
    margin: 0 12px 0 0;
    svg {
      stroke: $c-second-color;
    }
  }
  .next {
    background: $c-second-color;
    margin: 0 0 0 12px;
    border-color: $c-second-color;
    &:hover {
      background: $c-accent;
      border-color: $c-accent;
    }
    svg {
      transform: rotate(180deg);
      stroke: $c-white;
    }
  }
  .separator {
    background: transparent;
    border-color: transparent;
    &:hover {
      color: $c-dark-text;
    }
  }
}

.wrapper {
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.container {
  max-width: 1312px;
  padding: 0 $p-clamp;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
  padding: 0;
  .inner {
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.section {
  padding: 60px 0;
  @media ($t) {
    padding: 32px 0;
  }
}

.page-top {
  padding: 30px 0 56px;
  .section-heading {
    margin: 0;
  }
  @media ($t) {
    padding: 24px;
  }
}

.section-heading {
  margin: 0 0 32px;
  &--center {
    text-align: center;
  }
}

.section-header {
  font-size: clamp(1.5rem, 0.7437rem + 3.3613vw, 3.5rem);
}

.heading-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  @media ($l-s) {
    flex-direction: column;
    gap: 24px;
    text-align: center;
  }
}

.heading-link {
  font-size: 20px;
}

.narrow-content {
  max-width: 866px;
  margin: 0 auto;
}

.breadcrumps {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 24px;
  &__home,
  &__prev {
    font-size: clamp(0.75rem, 0.7027rem + 0.2101vw, 0.875rem);
    font-family: $mont;
    color: $c-dark-text;
    text-decoration: none;
  }
  &__separator {
    display: flex;
    margin: 0 16px;
    @media ($t) {
      margin: 0 8px;
    }
  }
  &__current {
    font-size: clamp(0.75rem, 0.7027rem + 0.2101vw, 0.875rem);
    color: $c-light-text;
    font-weight: 500;
  }
}

.logo {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  width: fit-content;
  &__text {
    span {
      display: block;
      text-decoration: none;
      color: $c-dark-text;
      text-transform: uppercase;
      &:first-child {
        font-size: 9px;
        margin: 0 0 2px;
      }
      &:last-child {
        font-size: 16px;
        font-family: $agora;
        font-weight: 500;
        line-height: 1;
      }
    }
  }
}

.groups {
  border-bottom: $border-base;
  &__list {
    display: flex;
    gap: 56px;
    justify-content: center;
    @media ($t) {
      flex-direction: column;
      gap: 0;
    }
  }
  &__btn {
    transition: $transition-base;
    display: flex;
    flex-direction: column;

    @media ($t) {
      flex-direction: row-reverse;
      align-items: center;
      border-left: $border-base;
    }
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      background: $c-accent;
      margin: 18px 0 0;
      opacity: 0;
      transition: $transition-base;
      flex-shrink: 0;

      @media ($t) {
        margin: 0 8px 0 0;
        width: 4px;
        height: 44px;
      }
    }
    &.active {
      &::after {
        opacity: 1;
      }
      &:hover {
        color: $c-dark-text;
        cursor: default;
      }
    }
    &:hover {
      color: $c-accent;
    }
  }
}

.header {
  padding: 26px 0;
  color: $c-dark-text;
  @media ($t) {
    padding: 20px 0;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 26px 32px;
    @media ($l-m) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.burger {
  display: none;
  @media ($l-m) {
    display: block;
  }
}

.nav {
  &__list {
    display: flex;
  }
  &__link {
    color: $c-dark-text;
  }
  &__topmenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    @media ($l-m) {
      display: none;
    }
  }
  &__toplist {
    text-transform: uppercase;
    gap: 32px;
    .nav__link.selected {
      color: $c-accent;
      cursor: default;
    }
  }
  &__bottommenu {
    grid-column: span 2;
    @media ($l-m) {
      display: none;
    }
  }
  &__bottomlist {
    justify-content: space-between;
    .nav__item {
      border: $border-base;
      border-right: none;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      &:last-child {
        border-right: $border-base;
      }
    }
    .nav__link {
      font-size: 14px;
      padding: 12px 8px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      &.selected {
        color: $c-white;
        background-color: $c-accent;
      }
    }
  }
}

.footer {
  &__top {
    display: flex;
    justify-content: space-between;
    border-top: $border-base;
    border-bottom: $border-base;
    @media ($l-s) {
      display: none;
    }
  }
  &__left {
    padding: 56px 16px;
    border-left: $border-base;
    border-right: none;
    max-width: 308px;
  }
  .logo {
    margin: 0 0 26px;
  }
  .museum-name {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 0 24px;
  }
  .btn-up {
    background: $c-accent;
    color: $c-white;
    font-family: $agora;
    padding: 13px 24px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='11' viewBox='0 0 21 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 0.148926L21 10.1489H0L10.5 0.148926Z' fill='white'/%3E%3C/svg%3E%0A");
      width: 21px;
      height: 11px;
      display: block;
    }
  }
  &__nav {
    display: flex;
    border-right: $border-base;
  }
  .nav__list {
    flex-direction: column;
    padding: 56px;
    border-left: $border-base;
    gap: 12px;
    &:first-child {
      border: none;
    }
    @media ($l-m) {
      padding: 56px 36px;
    }
  }
  .nav__title {
    margin: 0 0 12px;
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 34px;
    padding: 24px 16px;
    font-size: 14px;
    @media ($l-s) {
      flex-direction: column-reverse;
      gap: 12px;
    }
  }
  .social__list {
    display: flex;
    gap: 24px;
    @media ($l-s) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 8px;
    }
  }
  .social__item {
    @media ($l-s) {
      padding: 12px 40px;
      border: $border-base;
    }
  }
  .social__link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
  }
}

.top {
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    @media ($l-m) {
      flex-direction: column;
    }
  }
  &__heading {
    max-width: 694px;
    width: 100%;
    h1 {
      margin: 0 0 32px;
      @media ($t) {
        margin: 0 0 24px;
      }
    }
    p {
      line-height: normal;
    }
  }
  &__text {
    flex: 1;
    max-width: 514px;
    @media ($l-m) {
      max-width: initial;
    }
  }
}

.card {
  &-container {
    @media ($t) {
      padding: 0;
    }
  }
  &-content {
    @media ($t) {
      padding: 0 $p-clamp;
    }
  }
  &-list {
    display: grid;
  }
  &-item {
    border: $border-base;
    border-right: none;
    border-bottom: none;
    transition: $transition-base;
    padding: 56px 32px;
    &:nth-child(2n),
    &:last-child {
      border-right: $border-base;
    }
    &:last-child,
    &:nth-last-child(2) {
      border-bottom: $border-base;
    }
    &:hover {
      background: #f9f8f7;
    }
  }
  &-list--two {
    grid-template-columns: repeat(2, 1fr);
    @media ($t) {
      grid-template-columns: 1fr;
    }
    .card-item {
      @media ($t) {
        border-left: none;
        border-right: none;
        border-bottom: none;
        padding: 16px;
        &:last-child {
          border-bottom: $border-base;
        }
      }
    }
  }
  &-list--three {
    grid-template-columns: repeat(3, 1fr);
    @media ($l-m) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media ($t) {
      grid-template-columns: 1fr;
    }
    .card-item {
      border: $border-base !important;
      &:nth-child(2n) {
        border-right: none;
      }
      &:nth-child(3n) {
        border-right: $border-base;
      }
      &:nth-last-child(3) {
        border-bottom: $border-base;
      }
      // две карточки
      @media ($l-m) {
        &:nth-last-child(3),
        &:nth-child(3n) {
          border-bottom: none;
        }
        &:nth-child(2n) {
          border-right: $border-base;
        }
        &:nth-last-child(2),
        &:last-child {
          border-bottom: $border-base;
        }
      }
      @media ($t) {
        border-left: none;
        border-right: none;
        border-bottom: none;
        &:nth-last-child(3),
        &:nth-child(3n),
        &:nth-child(2n) {
          border-right: none;
          border-bottom: none;
        }
        &:last-child {
          border-bottom: $border-base;
        }
      }
    }
  }
  &-title {
    margin: 0 0 24px;
    @media ($t) {
      margin: 0 0 16px;
    }
  }
}

.news {
  &__item {
    padding: 75px 32px 40px;
    @media ($l-m) {
      &:last-child {
        display: none;
      }
    }
    @media ($t) {
      padding: 24px $p-clamp;
      &:last-child,
      &:nth-last-child(2) {
        display: none;
      }
    }
  }
  &__inner {
    max-width: 456px;
    margin: 0 auto;
  }
  &__image {
    margin: 0 0 16px;
    position: relative;
    overflow: hidden;
    aspect-ratio: 3 / 2;
    @media ($t) {
      margin: 0 0 8px;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: 0.5s ease-in-out;
    }
    &:hover img {
      transform: scale(1.1);
    }
  }
  &__date {
    display: block;
    margin: 0 0 16px;
    font-size: 14px;
    @media ($t) {
      margin: 0 0 8px;
    }
  }
  &__title {
    display: block;
    margin: 0 0 8px;
    color: $c-dark-text;
    font-size: 20px;
    font-family: $agora;
    font-weight: 500;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.4em;
    height: 2.8em;
    position: relative;
    overflow: hidden;
  }
  &__announce {
    margin: 0 0 32px;
    font-size: clamp(0.75rem, 0.7027rem + 0.2101vw, 0.875rem);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.6em;
    height: 4.8em;
    position: relative;
    overflow: hidden;
    @media ($t) {
      margin: 0 0 16px;
    }
  }
}

.rules {
  &__heading {
    margin: 0 0 56px;
    @media ($t) {
      text-align: center;
      margin: 0 0 24px;
    }
  }
}

.image-caption {
  position: absolute;
  bottom: 8px;
  right: 8px;
  padding: 8px 24px;
  font-style: italic;
  font-size: clamp(0.75rem, 0.6555rem + 0.4202vw, 1rem);
  display: block;
  background: $c-white;
  @media ($t) {
    right: 50%;
    transform: translateX(50%);
    width: max-content;
    max-width: 80%;
  }
}

.estates {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 80px;
    @media ($l-s) {
      align-items: flex-start;
      flex-direction: column;
      gap: 24px;
      margin: 0 0 32px;
    }
  }
  &__heading {
    flex: 1;
  }
  &__subscription {
    max-width: 494px;
    padding: 0 5%;
    @media ($l-s) {
      max-width: 100%;
      padding: 0;
    }
  }
  &__item {
    display: flex;
    margin: 0 0 80px;
    &:nth-child(2n) {
      div:first-child {
        order: 2;
        @media ($l-s) {
          order: initial;
        }
      }
      div:last-child {
        order: 1;
        @media ($l-s) {
          order: initial;
        }
      }
    }
    &:last-child {
      margin: 0;
    }
    @media ($l-s) {
      flex-direction: column-reverse;
      margin: 0 0 32px;
    }
  }

  &__image {
    position: relative;
    flex: 0 1 100%;
    @media ($l-s) {
      aspect-ratio: 3 / 2;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  &__text {
    flex: 0 0 36%;
    padding: 44px 32px 32px;
    background: #f9f8f7;
    @media ($l-s) {
      padding: 32px $p-clamp;
    }
  }
  &__quoteblock {
    margin: 0 0 52px;
    text-align: center;
    @media ($l-s) {
      margin: 0 0 32px;
    }
  }
  &__quote {
    display: flex;
    justify-content: center;
    text-align: center;
    font-style: italic;
    margin: 0 0 8px;
    font-size: clamp(0.75rem, 0.7027rem + 0.2101vw, 0.875rem);
    font-weight: 300;
    gap: 12px;
    &::before,
    &::after {
      content: url("data:image/svg+xml,%3Csvg width='15' height='9' viewBox='0 0 15 9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.036 0.824H7.452L4.092 8.36H0.876L3.036 0.824ZM10.2782 0.824H14.6942L11.3342 8.36H8.11819L10.2782 0.824Z' fill='%23C87D37'/%3E%3C/svg%3E%0A");
      display: inline-block;
    }
    &::before {
      align-self: flex-start;
    }
    &::after {
      align-self: flex-end;
    }
    p {
      display: inline-block;
    }
  }
  &__author {
    font-family: $agora;
    font-weight: 500;
    font-size: clamp(0.875rem, 0.8277rem + 0.2101vw, 1rem);
  }
  &__name {
    margin: 0 0 32px;
    @media ($l-s) {
      margin: 0 0 12px;
    }
  }
  &__description {
    margin: 0 0 24px;
    @media ($l-s) {
      margin: 0 0 12px;
    }
  }
  &__link {
    font-size: 20px;
  }
}

.infotable {
  font-size: clamp(0.75rem, 0.7027rem + 0.2101vw, 0.875rem);
  &__row {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    margin: 0 0 4px;
    &:last-child {
      margin: 0;
    }
    @media ($l-m) {
      flex-direction: column;
      gap: 4px;
    }
    @media ($l-s) {
      flex-direction: row;
    }
  }
  &__col {
    &:last-child {
      text-transform: uppercase;
      font-weight: 600;
      line-height: 1.5;
      font-size: 14px;
    }
  }
  a {
    color: $c-dark-text;
  }
}

.mode {
  padding-top: 0;
  &__note {
    padding: 24px 0;
    background: $c-accent;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    text-transform: uppercase;
    strong {
      color: rgba(255, 255, 255, 1);
    }
    @media ($t) {
      padding: 16px 0;
    }
  }
  &__list {
    display: flex;
    @media ($l-s) {
      flex-direction: column;
    }
  }
  &__item {
    flex: 1;
    padding: 32px;
    @media ($l-s) {
      padding: 16px;
    }
  }
  &__title {
    margin: 0 0 24px;
    text-transform: uppercase;
    font-weight: 700;
    @media ($l-s) {
      margin: 0 auto 16px;
      max-width: 560px;
    }
  }
  &__row,
  &__row:last-child {
    @media ($l-s) {
      margin: 0 auto 4px;
      max-width: 560px;
    }
  }
  &__col:last-child {
    @media ($l-s) {
      flex: 0 1 124px;
    }
  }
}

.ticker {
  position: relative;
  overflow: hidden;
  &__content {
    display: flex;
  }
  &__item {
    white-space: nowrap;
    flex-shrink: 0;
    padding: 0 24px;
    animation: ticker 12s linear infinite;
    font-size: clamp(0.875rem, 0.8277rem + 0.2101vw, 1rem);
  }
}

@keyframes ticker {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.contacts {
  padding-bottom: 0;
  &__item {
    padding: 32px;
  }
  &__row {
    margin: 0 0 24px;
    &:last-child {
      margin: 0;
    }
    @media ($l-m) {
      flex-direction: column;
      gap: 8px;
      margin: 0 0 16px;
    }
  }
}

.partners {
  padding: 24px 0;
  &__list {
    justify-content: space-between;
  }
  &__item {
    flex: 0 0 calc((100% / 6) - 16px);
    margin: 0 16px 0 0;
    max-height: 114px;
    &:last-child {
      margin: 0;
    }
    @media ($t) {
      margin: 0 12px 0 0;
      flex: 0 0 calc((100% / 4) - 6px);
    }
    @media ($p-m) {
      flex: 0 0 calc((100% / 3) - 6px);
    }
  }
}

.banner {
  padding: 0;
  &__container {
    @media ($t) {
      padding: 0;
    }
  }
  &__item {
    aspect-ratio: 3 / 2;
    width: 100%;
    position: relative;
    @media ($t) {
      aspect-ratio: 3 / 2;
    }
    &--wide {
      aspect-ratio: 5 / 2;
      @media ($t) {
        aspect-ratio: 3 / 2;
      }
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__slider {
    position: relative;
  }
  &__tools {
    position: absolute;
    top: 0;
    left: 32px;
    display: flex;
    width: fit-content;
    gap: 24px;
    @media ($t) {
      inset: initial;
      bottom: 0;
      right: 0;
    }
  }
  &__navigation {
    display: flex;
  }
  &__btn {
    position: relative;
    inset: initial;
    width: 70px;
    height: 70px;
    background: $c-accent;
    margin: initial;
    opacity: 0.9;
    transition: $transition-base;
    &::after {
      font-size: initial;
      width: 18px;
      height: 22px;
      @media ($p-b) {
        width: 16px;
        height: 18px;
      }
    }
    &:hover {
      opacity: 1;
    }
    @media ($p-b) {
      width: 44px;
      height: 44px;
    }
  }
  &__btnprev {
    background: $c-white;
    &::after {
      content: url("data:image/svg+xml,%3Csvg  viewBox='0 0 18 22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.43099e-07 11.2681L18 0.875763L18 21.6604L1.43099e-07 11.2681Z' fill='%23C87D37'/%3E%3C/svg%3E%0A");
    }
  }
  &__btnnext {
    background: $c-accent;
    opacity: 1;
    &::after {
      content: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 11.2681L-9.78799e-07 21.6604L-7.02746e-08 0.875761L18 11.2681Z' fill='white'/%3E%3C/svg%3E");
    }
    &:hover {
      background: $c-accent-hover;
    }
  }
  &__pagination,
  .swiper-pagination {
    position: relative;
    inset: initial;
    height: 70px;
    margin: initial;
    display: flex;
    align-items: center;
    @media ($t) {
      display: none;
    }
  }
  &__bullet {
    width: 42px;
    height: 8px;
    background: $c-white;
    margin: 0 16px 0 0;
    opacity: 0.4;
    transition: $transition-base;
    &:last-child {
      margin: 0;
    }
    &--active {
      opacity: 1;
    }
  }
}

.events {
  &__list {
    display: none;
    &.active {
      display: block;
    }
  }
  &__item {
    padding: 54px 0;
    border-bottom: $border-base;
    @media ($t) {
      padding: 32px $p-clamp;
    }
  }
  &__top {
    display: flex;
    gap: 32px;
    align-items: center;
    @media ($t) {
      gap: 16px;
      flex-direction: column;
    }
  }
  &__col {
    &:first-child {
      display: flex;
      gap: 40px;
      align-items: center;
      flex: 0 0 424px;
      @media ($t) {
        flex: auto;
        gap: 16px;
        width: 100%;
      }
    }
  }
  &__date {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    flex: 0 0 90px;
    @media ($t) {
      flex: 0 0 68px;
      gap: 8px;
    }
  }
  &__day,
  &__month {
    font-family: $agora;
    font-weight: 500;
    color: $c-accent;
    text-transform: uppercase;
  }
  &__day {
    font-size: clamp(2rem, 1.4328rem + 2.521vw, 3.5rem);
    line-height: 0.8;
  }

  &__month {
    font-size: clamp(0.875rem, 0.8277rem + 0.2101vw, 1rem);
  }
  &__note {
    background: $c-accent;
    display: block;
    width: 90%;
    text-align: center;
    padding: 4px;
    color: $c-white;
    font-size: 12px;
  }
  &__location {
    font-family: $agora;
    font-weight: 500;
    color: $c-label;
    font-size: clamp(0.875rem, 0.8277rem + 0.2101vw, 1rem);
    margin: 0 0 8px;
  }
  &__title {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    height: 2.6em;
    position: relative;
    overflow: hidden;
    color: $c-dark-text;
  }
  &__text {
    max-width: 416px;
    @media ($t) {
      max-width: 100%;
    }
  }
  &__announce {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.6em;
    height: 3.2em;
    position: relative;
    overflow: hidden;
    margin: 0 0 8px;
  }
  &__more {
    text-align: center;
    padding: 32px 0;
    @media ($t) {
      padding: 12px 0;
    }
  }
}

.history {
  padding: 56px 0 80px;
  &__content {
    max-width: 866px;
    margin: 0 auto;
  }
  &__item {
    display: flex;
    gap: 24px;
    margin: 0 0 40px;
    &:last-child {
      margin: 0;
    }
    @media ($t) {
      gap: 12px;
    }
  }
  &__year {
    font-family: $agora;
    color: $c-accent;
    font-size: clamp(1rem, 0.8109rem + 0.8403vw, 1.5rem);
    font-weight: 700;
    white-space: nowrap;
    justify-content: flex-end;
    flex: 0 0 clamp(4.375rem, 3.5714rem + 3.5714vw, 6.5rem);
    display: flex;
  }
  &__text {
    *:last-child {
      margin: 0;
    }
  }
}

/* Яндекс карта */

.ymap,
#ymapMain {
  min-height: 460px;
  background-color: #e2ddd6;
}

@media (max-width: 1024px) {
  .ymap {
    max-height: 300px;
  }
}

ymaps {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  mix-blend-mode: luminosity;
}

[class*="balloon__content"] ymaps {
  font-family: "WixMadeforText", sans-serif;
  line-height: 1.4;
  font-size: 16px;
}

[class*="balloon-content"] ymaps a {
  display: inline-block;
  color: #4b4d55;
}

[class*="balloon-content__header"] {
  font-size: 22px !important;
  padding: 10px 0;
}

[class*="balloon-content__footer"] {
  padding: 10px 0;
  color: #4b4d55;
}

[class*="balloon-content__footer"] a {
  display: inline-block;
  color: #4b4d56;
}

[class*="copyrights-pane"] {
  display: none !important;
}
