.heading-block {
	.section-header {
		@media ($l-m) {
			font-size: clamp(24px, 7vw, 56px);
		}
	}
}

.banner__container {
	@media ($l-m) {
		padding: 0;
	}
}

.estate-page__slider {
	.swiper-wrapper {
		height: 577px;

		@media ($l-m) {
			height: clamp(229px, 62vw, 577px);
		}
	}
}

.swiper--nav-bottom {
	img {
		object-fit: cover;
		width: 100%;
		height: 577px;

		@media ($l-m) {
			height: clamp(229px, 62vw, 577px);
		}
	}

	.banner__tools {
		top: auto;
		bottom: 0;

		@media (max-width: 767px) {
			height: 60px;
		}

		@media (max-width: 575px) {
			height: 44px;
		}

		@media (min-width: 1200px) {
			left: 50%;
			transform: translateX(-50%);
			z-index: 1;
		}
	}

	.banner__btn {
		@media (max-width: 767px) {
			width: 60px;
			height: 60px;
		}

		@media (max-width: 575px) {
			width: 44px;
			height: 44px;
		}

		&::after {
			@media (max-width: 767px) {
				transform: scale3d(0.85, 0.85, 1);
			}

			@media (max-width: 575px) {
				transform: scale3d(0.65, 0.65, 1);
			}
		}
	}

	.swiper-pagination {
		top: 0;

		@media (max-width: 767px) {
			display: none;
		}
	}
}

.estate-content__container {
	max-width: 866px;
}

.user-content {
	p {
		font-weight: 400;
		line-height: 200%;
		font-size: 14px;
		margin: 0 0 28px;

		@media ($l-m) {
			font-size: clamp(12px, 2vw, 14px);
			margin: 0 0 24px;
		}

		@media (max-width: 767px) {
			line-height: 160%;
		}
	}

	blockquote {
		text-align: center;
		margin: 40px 0;

		@media ($l-m) {
			margin: 0 0 24px;
		}

		p {
			font-style: italic;
			line-height: 200%;
			color: #4a565e;
			margin-bottom: 12px;

			@media ($l-m) {
				font-size: clamp(12px, 2vw, 14px);
				margin-bottom: 8px;
			}

			@media (max-width: 767px) {
				line-height: 160%;
			}
		}

		cite,
		span {
			font-family: "Agora", sans-serif;
			font-weight: 500;
			font-size: 16px;
			text-align: center;
			color: #223642;

			@media ($l-m) {
				font-size: clamp(14px, 2vw, 16px);
			}
		}
	}

	figure {
		margin: 0 0 40px;
		display: flex;
		flex-direction: column;
		gap: 12px;

		@media ($l-m) {
			margin: 0 0 clamp(24px, 3vw, 40px);
		}
	}

	picture {
		display: flex;
		justify-content: center;
	}

	img {
		text-align: center;
		min-height: 278px;
		object-fit: cover;
	}

	figcaption {
		font-family: "Agora", sans-serif;
		font-weight: 500;
		font-size: 16px;
		text-align: center;
		color: #223642;
		margin: 12px 0 0;

		@media ($l-m) {
			font-size: clamp(14px, 2vw, 16px);
		}
	}

	& > * {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
